@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;700&family=Lora:wght@700&display=swap');

*,
*:before,
*:after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    color:#153063;
    font-family: 'AR One Sans', sans-serif;
    font-size: 18px;
}

nav, main, aside, footer {
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

#hidden-title {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

h1, h2, h3, caption {
    font-family: 'Lora', serif;
}

h1 {
    font-size: 3em;
}
  
h2 {
    font-size: 1.5em;
}

nav h2{
    color: white;
}

h3 {
    font-size: 1.2em;
}
    
li {
    font-size: 1em;
    margin: 1.5em 0;
    line-height: 1.5 em;
    list-style-type: none;
}

a {
color:#153063;
}

figcaption{
    font-size: .8em;
    padding: none;
}

strong {
    font-weight: 700;
}

h1, h2, h3 {
    padding: .2em 0;
    text-align: center;
}

h3 {
    padding-top: .7em;
}

p {
    margin: 1.8em 0;
    line-height: 1.8em;
}

header, main, aside, footer {
    padding: 1.5em;
    
}

nav {
    border: 1px black solid;
}

/* aside info */

aside p {
    margin: 1em;
}

aside h3 {
    padding-bottom: 1em;
    border-bottom: 2px solid #153063;
}

/* nav stuff */

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
}

nav ul a {
    color: white;
    text-decoration: none;
}

footer small, footer a {
    color: white;
}

img {
    height: auto;
    padding: 1em;
    text-align: center;
    max-width:100%
}

figcaption {
    text-align: center;
}

.wrap-image{
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.wrap-image-two{
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

/* layout */

.container {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 
    7fr 3fr;
    grid-template-areas: 
    "head  head"
    "navi  navi"
    "main   aside1"
    "main   aside1"
    "aside2   aside2"
    "footsy   footsy";
}

.container2 {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 
    3fr 7fr;
    grid-template-areas: 
    "head  head"
    "navi  navi"
    "aside1   main"
    "aside1   main"
    "aside1   main"
    "footsy   footsy";
}

.container3 {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 
    1fr;
    grid-template-areas: 
    "head"
    "navi"
    "main"
    "aside1"
    "footsy";
}

header {
    grid-area: head;
    background-color: white;
    text-align: center;
}
nav {
    grid-area: navi;
    background: #6E5B8C;
}
main {
    grid-area: main;
    background-color: white;
}
#aside2 {
    grid-area: aside2;
    background-color: #CFBAE1;
    border: black solid
}
#aside1 {
    grid-area: aside1;
    background: #F1E0FF;
    text-align: center;
    border: 1px black solid;
    border-bottom: none;
}
footer {
    grid-area: footsy;
    background: #6E5B8C;
    text-align: center;
}

/* for tablets */
@media screen
    and (min-width: 601px)
    and (max-width: 900px) {
    .container {
        grid-template-columns:
            2fr 1fr;
        grid-template-areas:
            "head head"
            "navi   navi"
            "main  main"
            "aside1 aside1"
            "aside2 aside2"
            "footsy footsy";
    }
}

/* for phonesphones*/
@media screen
    and (max-width: 600px) {
    .container {
        grid-template-columns:
            1fr;
        grid-template-areas:
            "head"
            "navi"
            "main"
            "aside2"
            "aside1"
            "footsy";
    }
    .container2 {
        grid-template-columns:
            1fr;
        grid-template-areas:
            "head"
            "navi"
            "main"
            "aside1"
            "footsy";
    }
    .container3 {
        grid-template-columns:
            1fr;
        grid-template-areas:
            "head"
            "navi"
            "main"
            "footsy";
    }
    nav ul {
        text-align: center;
        display: block;
    }
    nav ul li a {
        display: block;
        padding: 10px 5px;
        margin: 5px;
        background: #F1E0FF;
        color:#153063;
        border-radius: 20px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        margin: 10px;
    }

}

/* nav, main, aside, footer {
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: 10px;
} */

/* skip nav */

.skip-link{
    background: black;
    color: white;
    font-weight: 700;
    padding: 4px;
    position: absolute;
    transform: translateY(-200%);
  }
  
  .skip-link:focus {
    transform: translateY(-100%);
  }
  
  .skip-link {
    transition: transform 1s;
  }

  footer p{
    padding: none;
  }