@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;700&family=Lora:wght@700&display=swap');

*,
*:before,
*:after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:#ffebc2;
    color:#153063;
    font-family: 'AR One Sans', sans-serif;
    font-size: 18px;
}

#hidden-title {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

h1, h2, h3, caption {
    font-family: 'Lora', serif;
}

h1 {
    font-size: 2em;
}
  
h2 {
    font-size: 1.5em;
}

nav h2{
    color: white;
}
  
h3 {
    font-size: 1.2em;
}

li {
font-size: 1em;
}

a {
color:#153063;
}

strong {
    font-weight: 700;
}

h1, h2, h3 {
    padding: .2em 0;
    text-align: center;
}

h3 {
    padding-top: .7em;
}

p {
    margin: 1.8em 0;
    line-height: 1.8em;
}

header, nav, main, aside, footer {
    padding: 1.5em;
    border: 1px black solid;
}

header, footer, aside {
    text-align: center;
}

/* aside info */

aside p {
    margin: 1em;
}

aside img {
    margin-top: .5em;
}

aside h3 {
    margin-top: .5em;
    border-top: 2px solid #153063;
}

/* nav stuff */

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
}

nav ul a {
    color: white;
    text-decoration: none;
}

footer small, footer a {
    color: white;
}

/* layout */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 
    1fr 3fr 1fr;
    grid-template-areas: 
    "header1  header1   header1"
    "nav1  nav1   nav1"
    "aside1  main1   aside2"
    "aside1  main1   aside2"
    "aside1  main1   aside2"
    "foot1  foot1   foot1";
}

header {
    grid-area: header1;
    background-color: #fff4df
}
nav {
    grid-area: nav1;
    background: #410b13;
}
main {
    grid-area: main1;
    background-color: #fff4df
}
#aside1 {
    grid-area: aside1;
    background: #EDC3BF
}
#aside2 {
    grid-area: aside2;
    background: #EDC3BF;
    text-align: left;
}
footer {
    grid-area: foot1;
    background: #8C5F66
}

/* for tablets */
@media screen
    and (min-width: 601px)
    and (max-width: 900px) {
    .container {
        grid-template-columns:
            1fr 1fr;
        grid-template-areas:
            "header1 header1"
            "nav1   nav1"
            "main1  main1"
            "aside1 aside2"
            "foot1 foot1";
    }
}

/* for phonesphones*/
@media screen
    and (max-width: 600px) {
    .container {
        grid-template-columns:
            1fr;
        grid-template-areas:
            "header1"
            "nav1"
            "main1"
            "aside1"
            "aside2"
            "foot1";
    }
    nav ul {
        flex-flow: column nowrap;
        text-align: center;
    }
    nav ul li a {
        display: block;
        padding: 10px 5px;
        margin: 5px;
        border: 1px black solid;   
        background: white;
        color:#153063;
    }
}

/* skip nav */

.skip-link{
    background: black;
    color: white;
    font-weight: 700;
    padding: 4px;
    position: absolute;
    transform: translateY(-200%);
  }
  
  .skip-link:focus {
    transform: translateY(-100%);
  }
  
  .skip-link {
    transition: transform 1s;
  }

















