@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;700&family=Lora:wght@700&display=swap');

body {
  background-color:#F5FFDF;
  color:#153063;
  font-family: 'AR One Sans', sans-serif;
  font-size: 18px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1, h2, h3, caption {
  font-family: 'Lora', serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

li {
  font-size: 1em;
}

a {
  color:#153063;
}

summary {
  font-weight: 700;
  font-size: 1.2em;
}

.list {
  font-weight: 700;
  font-size: 1.1em;
}

strong {
  font-weight: 700;
}

figcaption {
  font-size: .9em;
}

caption {
  font-size: 1.2em
}

.wrap-image{
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.button-link{
  text-decoration: underline;
  font-weight: 700;
}

sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  
  }

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2em;
}

abbr {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

table, th, td {
    border-collapse: collapse;
}

table {
    margin-bottom: 30px;
}
td, th {
    border: 2px solid #153063;
    width: 200px;
    text-align: center;
}

href

/* image wrap */

.wrap-image{
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

/* Skip nav */

.skip-link{
  background: black;
  color: white;
  font-weight: 700;
  padding: 4px;
  position: absolute;
  transform: translateY(-200%);
}

.skip-link:focus {
  transform: translateY(-100%);
}

.skip-link {
  transition: transform 1s;
}

/* style for forms */

input:focus {
  background: black;
  color: white;
  border: 4px solid yellow;
}

input:valid {
  border: 2px solid green;
}

input:invalid {
  border: 1px dotted red;
}

label{
  display: block;
  margin-bottom: 10px;
}

/*will target any field that is not submit and is valid*/
input:not([type="submit"]):valid {
  border-color: #3d9ca8;
  box-shadow: 0 0 3px #3d9ca8;
}

/* Hide and show list of inputRequirements when interacting with input */
input:not([type="submit"]) + .inputRequirements {
overflow: hidden;
max-height: 0;
transition: max-height 1s ease-out;
}

input:not([type="submit"]):hover + .inputRequirements,
input:not([type="submit"]):focus + .inputRequirements,
input:not([type="submit"]):active + .inputRequirements {
max-height: 1000px; /* any large number (bigger then the .inputRequirements list) */
transition: max-height 1s ease-in;
}